<div class="container" id="contenedor">
  <h1>
  {{title}}
  </h1>
  <input type="button" class="btn btn-primary" id="recargaColeccionActors" value="Refrescar coleccion de Actors" (click)="clickRecargaColeccionActors()"/>
  <!-- Tabla mostrando la DB de Actors -->
    <section id="tablaPeliculas">
        <!-- table border="2" -->
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-condensed">                
                <thead>
                    <tr>
                        <th>name</th>
                        <th>mbox</th>
                        <th>objectType</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let datoActor of arrayActors, let i = index;">
                      <td>{{datoActor.actor.name}}</td>
                      <td>{{datoActor.actor.mbox}}</td>
                      <td>{{datoActor.actor.objectType}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
