<div class="container" id="contenedor">

  <br/>
  <input type="button" class="btn btn-primary" id="selecionarActor" value="Seleccionar actor" 
                    (click)="selecionarActor = !selecionarActor"/>
  <!-- Tabla mostrando la DB de Actors -->
    <section id="tablaPeliculas" *ngIf="selecionarActor">
        <h4>
        {{title}}
        </h4>
        <!-- table border="2" -->
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-condensed">                
                <thead>
                    <tr>
                        <th>name</th>
                        <th>mbox</th>
                        <th>objectType</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr *ngFor="let datoActor of arrayActors, let i = index;"  
                                (click)="clickEnTablaActor(datoActor, i); ">
                      <td>{{datoActor.actor.name}}</td>
                      <td>{{datoActor.actor.mbox}}</td>
                      <td>{{datoActor.actor.objectType}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

  <br/>
  <br/>
  <!-- Tabla mostrando la DB de Verbos -->
    <input type="button" class="btn btn-primary" id="selecionarVerbo" value="Seleccionar verbo" 
                    (click)="selecionarVerbo = !selecionarVerbo"/>
    <section id="tablaPeliculas" *ngIf="selecionarVerbo">
        <h4>
         {{title2}}
       </h4>
        <!-- table border="2" -->
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-condensed">                
                <thead>
                    <tr>
                        <th>Syllabus</th>
                        <th>URI</th>
                        <th>objectType</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let datoVerbo of arrayVerbos, let i = index;"
                                (click)="clickEnTablaVerbs(datoVerbo, i); ">
                      <td>{{datoVerbo.verbo.display}}</td>
                      <td>{{datoVerbo.verbo.id}}</td>
                      <td>{{datoVerbo.verbo.LOG_SRC}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>



<!-- NOTA: ESTA TABLA NO SE MUESTRA. EN SU LUGAR SE MUESTRA EL TREE-HORIZONTAL DE ACTIVITY-TREE.COMPONENT -->
 <div  class="elementoOculto"  >
  <h3>
  {{title3}}
  </h3>
  <input   type="button" class="btn btn-primary  " id="xxx" value="Refrescar coleccion de Targets" (click)="clickRecargaColeccionActors()"/>
  <br/>
  <br/>
  <!-- Tabla mostrando la DB de Targets/objects -->
    <section id="tablaPeliculas"  >
        <!-- table border="2" -->
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-condensed">                
                <thead>
                    <tr>                      
                        <th>definicion.name</th>
                        <th>definicion.descripcion</th>
                        <th>uri</th>
                        <th>tipo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let datoTarget of arrayTargets, let i = index;">                      
                      <td>{{datoTarget.objeto.definition.name}}</td>
                      <td>{{datoTarget.objeto.definition.description}}</td>
                      <td>{{datoTarget.objeto.id}}</td>
                      <td>{{datoTarget.objeto.objectType}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
  </div>
</div>
