<div class="container" id="contenedor">
  <h3>
  {{title}}
  </h3>
  <input type="button" class="btn btn-primary" id="recargaColeccionActors" value="Refrescar coleccion de Actors" (click)="clickRecargaColeccionActors()"/>
  <br/>
  <br/>
  <!-- Tabla mostrando la DB de Actors -->
    <section id="tablaPeliculas">
        <!-- table border="2" -->
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-condensed">                
                <thead>
                    <tr>
                        <th>name</th>
                        <th>mbox</th>
                        <th>objectType</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let datoActor of arrayActors, let i = index;">
                      <td>{{datoActor.actor.name}}</td>
                      <td>{{datoActor.actor.mbox}}</td>
                      <td>{{datoActor.actor.objectType}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

  <h3>
  {{title2}}
  </h3>
  <input type="button" class="btn btn-primary " id="recargaColeccionActors" value="Refrescar coleccion de Verbs" (click)="clickRecargaColeccionActors()"/>
  <br/>
  <br/>
  <!-- Tabla mostrando la DB de Verbos -->
    <section id="tablaPeliculas">
        <!-- table border="2" -->
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-condensed">                
                <thead>
                    <tr>
                        <th>Syllabus</th>
                        <th>URI</th>
                        <th>Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let datoVerbo of arrayVerbos, let i = index;">
                      <td>{{datoVerbo.verbo.display}}</td>
                      <td>{{datoVerbo.verbo.id}}</td>
                      <td>{{datoVerbo.verbo.LOG_SRC}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

  <h3>
  {{title3}}
  </h3>
  <input   type="button" class="btn btn-primary  " id="xxx" value="Refrescar coleccion de Targets" (click)="clickRecargaColeccionActors()"/>
  <br/>
  <br/>
  <!-- Tabla mostrando la DB de Targets/objects -->
    <section id="tablaPeliculas">
        <!-- table border="2" -->
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-condensed">                
                <thead>
                    <tr>
                        <th>tipo</th>
                        <th>definicion</th>
                        <th>uri</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let datoTarget of arrayTargets, let i = index;">
                      <td>{{datoTarget.objeto.objectType}}</td>
                      <td>{{datoTarget.objeto.definition}}</td>
                      <td>{{datoTarget.objeto.id}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
